*{
    user-select: none;
}

body{
   /* min-width:960px;*/
    background-color:rgb(113, 113, 113);/*maroon;*/ /*darkgray*/
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}


button{
    cursor: pointer;
}

form{
    margin:5% auto;
    display: block;
}

#displayround{
    text-align: center;
}

.next1{
    width:10%;
    min-width:40px;
    text-align:center;
    background-color: lightgray;
    color:black;
    margin: 0 auto 0 auto;
    padding:4px;
    border-radius: 10px;
}
.next1:hover{
    cursor:pointer;
    background-color: green;
    color:gold;
}

#slide1,#slide2{
    background-color:grey ;/*rgb(232, 232, 232);*/
    /*border:5px rgb(107, 106, 106) double;*/
    width:50%;
    min-height:50%;
    margin:0 auto 0 auto;
    text-align: center;
    overflow: hidden;
}

#slide1 input{
    width:40px;
    text-align: center;
}

input{
    overflow: hidden;
}

.numofusersbutton{
    color:black;
    display:inline-block;
    cursor:pointer;
}

#showusernum{
    display:inline-block;
    color:black;
}
#slide3{
    width: 100%;
    height:100%;
    margin:0 auto 0 auto;
   

}
#s3{
    display: block;
    width:100%;
}

#startsavemenu{
    text-align: center;
    background-color: #525252;
    height:10%;
    position: fixed;
    top:0;
    right:0;
    padding:5%;
}

#startsavemenu button{
    display:block;

}


#leftvid1{
    position: absolute;
    left:10;
}

#vs{
    display: inline-block;
    position: absolute;
    right:50%;
    top:50%;
}

#rightvid1{
    position: absolute;
    right:10;
}

.winnerbutton{
    background-color: black;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align:center;
    width:100%;
    padding-top:20px;
    height:50px;
    margin:0 auto 0 auto;
    
}


.winnerbutton:hover{
    cursor:pointer;
    color:black;
    background-color: lightgray;
}

.namedisplay{
    text-align: center;
    text-decoration: underline;
    

}


#toresultspage{
    color:white;
    background-color: black;
    position:absolute;
    bottom:0;
    width:99%;
    height:25%;
    /*padding:5%;   */ 
   /* position: static;
    margin: 0 auto 0 auto;*/
    display:none;
}
#toresultspage:hover{
background-color: green;
border-color: white;
font-size:2.5vw;
cursor:pointer;
}

#olddrafts{
    background-color: black;
    position: fixed;
    bottom:0;
    right:0;
    border:white 1px solid;
    padding:1%;
   /* border-top-left-radius:100%;
    border-top-right-radius:100%;*/
}
#olddrafts:hover{
    cursor: pointer;
    background-color: green;

}

#errorbox{
    position:fixed;
    bottom:0;
    left:0;
    color:black;
    font-weight: bolder;
    background-color: red;
    box-shadow: 0 0 10px 10px red;
    width:20%;
    padding: 4% 1% 4% 1%;
    text-align: center;
    display:none;
}

.notes{
    background-color: black;
    text-align: center;
}

#clickfortie{
    background-color: red;
    border-radius: 50%;
    padding: 6%;
    width:10%;
    aspect-ratio:1;
    text-align: center;
    display:block;
    font-size: 2.5vh;
    cursor:pointer;
}


#coinflip_contain{
    display: none;
    position:relative;
    z-index:2;
    margin: 0 auto 0 auto;
    background-color: darkblue;
    width:70%;
    height: 70%;
}

#showthecoinflip{
    background-color: black;
    position: absolute;
   /* top:50%; *//*If we make this 70 or above it extends outside the box; why?*/
    right:0;
    /*padding: 8% 0 8% 0;*/
    width: 50%;
    height:100%;
    /*box-sizing:border-box; 8?
    /*height:100%;*/
    text-align: center;
    z-index:1;
}

#flipcoinagain{
    position: absolute;
    bottom: 0;
    left:67.5%;
    border-radius:50%;
    height:10%;
    padding:5%;
    aspect-ratio:1;
    cursor:pointer;
    color:black;
    background-color: silver;
    z-index:2;
    text-align:center;
    border:10px white double;
    
}

#flipcoinagain:hover{
    background-color: grey;
}
#trackflips{
    color:pink;
    width:50%;
    height:100%;
    background-color:grey;
    /*background-image: linear-gradient(to right,grey  ,black);*/
    text-align: center;
}
.close{
    background-color: black;
    color:white;
    padding:1%;
    width:5%;
    position: absolute;
    top:0;
    right:0;
    text-align: center;
    z-index:2;
}

.close:hover{
    background-color: red;
    cursor:pointer;
}


#screenshot{
    background-color: white;
    color: black;
    width:10%;
    height:10%;
    border:none;
    position: fixed;
    right:0;
}

#screenshot:hover{
    box-shadow: 0 0 20px 10px gold;
}

#splashscreen{
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    font-size:3vh;
    /*left:25%;
    top:20%;*/
    background-color: black;
    width:100%;
    height:25%;
    padding-top:20%;
    padding-bottom:20%;

    text-align:center;
    /*animation:splashloading 2s forwards;*/
}

.thedefeated2{
    text-decoration: none !important; 
    color:red;
    text-decoration-color: grey;
}

@keyframes splashloading{

}