<!DOCTYPE>
<html>   
    <head>
        <link rel="shortcut icon" href=""> <!--For the favicon error?-->
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        
        <title></title>
    </head>
    <body id="body">

        <div id="startup">
          <form method="post" id="form" action="{{ url_for("startgame")}}" > 
            <!-- <form method="post" action="{{ url_for("startgame")}}" onsubmit="event.preventDefault(); urlscantbeempty()">    -->
                <div id = "slide1"> 
                    <br/>
                    <div>How many users are participating? </div>
                <!---<input input id ="decrease" class="numofusersbutton" type="button" value = "-" onclick="changenumofusers('sub')"> -->
                <input id="showusernum" type ="text" name="numofusers">
                <!--<input type ="number" min=1 max=6 name = "numofusers" id="showusernum"/> -->
                <!-- <input input id ="increase" class="numofusersbutton" type="button" value = "+" onclick="changenumofusers('add')"> -->
                 
                <!-- <div>What is the maximum number of songs per person? </div> 
                 
                 <div>(MUST BE AN EVEN NUMBER)</div>                   
                 <input id="songsperuser" type ="text" name="songspereach"> -->
                 <input id="songsperuser" type ="hidden" name="songspereach">

                     <br/>

                     <div>Tournament Style</div>
                   <select id="totalsongs" name="totalsongs">
                        <option value="2">1 on 1</option>
                        <option value="4">Final Four</option>
                        <option value="8">Elite Eight</option>
                        <option value="16">Sweet Sixteen</option>
                        <option value="32">Dirty 32</option>
                        <option value="64">Sexy 64</option>                       
                     </select>
                 <!--<input type = "button" value="START GAME" onclick="startgame()"/>-->
                 <br/>
                 <br/>
                 <div class="next1" onclick="toslide2(showusernum)">Next</div>
                </div>



                <div id = "slide2"  onclick="showremainingsongs()">
                    <br/>
                    Please enter the name and total song amount for each player:
                    <div id="enternames">
                        <br/>
                    </div>                   
                                          
                    <!--<div onclick="sendtoFlask()">SUBMIT</div>  -->
                    <br/>
                    <div class="next1" onclick="toslide3(showusernum,enternames)">Next</div>

                    <div id="remainingsongs"></div>
                </div>


                <!--URL Submissions-->

                <div id="slide3">
                    <div id="navmenu">Name Navigator</div>
                    <div id="s3">

                    </div>
                    
                    <div id="startsavemenu" >
                        <div id="draftoptions">Draft Options</div>
                        <button type="submit"  id="updatedraft" onclick="updatedraft1()">UPDATE</button> 
                        <button type="submit"  id="savedraft" onclick="savenewdraft()" >CREATE NEW DRAFT</button> <!--<button type="submit"  id="savedraft" onclick="savenewdraft()">SAVE NEW DRAFT</button> -->
                        <button type="submit" id="deletedraft" >DELETE DRAFT</button>   <!--<button type="submit" id="deletedraft" onclick="otherthing()">Boink DRAFT</button>-->
                        <button onclick="removesongs()">REMOVE SONGS</button>
                    
                </div>

                <div id="startgamecontainer">                        
                    <button type="submit" onclick="b4send()" id="startbutton">START GAME</button> </div>
            </div>

                <div id="errorbox"></div>

               <div id="olddrafts" ></div>

               <input type="hidden" id="draftsave" />
               <input type="hidden" value="notclicked" name="checkdraftbut" id="isthesavebuttonclicked" />
               <input type="hidden" name="newdraftname" value="DefaultDraft"/>
               
         </form>    
        </div>
        
        <script src="{{ url_for('static', filename='js/script.js') }}"></script></script>
        <script>
             draftnames1 = JSON.parse('{{draftnames | tojson | safe}}');
            console.log(draftnames1);
            var drafturls= JSON.parse('{{drafturls | tojson | safe}}');
            var draftsongsperuser=JSON.parse('{{songsperuser | tojson | safe}}');
            var draftnumofusers=JSON.parse('{{numofusers | tojson | safe}}');
            var draftnotes =JSON.parse({{draftnotes | tojson | safe}});
            var drafttitle1 =JSON.parse('{{drafttitle1 | tojson | safe}}');
            var draftsong4user1 = JSON.parse('{{draftsong4user1 | tojson | safe}}');


            
            var draftnames2 = JSON.parse('{{draftnames2 | tojson | safe}}');
            var drafturls2= JSON.parse('{{drafturls2 | tojson | safe}}');
            var draftsongsperuser2=JSON.parse('{{songsperuser2 | tojson | safe}}');
            var draftnumofusers2=JSON.parse('{{numofusers2 | tojson | safe}}');
           // var needquotes = JSON.stringify('{{draftnotes2 | tojson | safe}}');
            var draftnotes2 =JSON.parse({{draftnotes2 | tojson | safe}}); //Causes error when you have a notes column that includes quotation; Might need to do it like resultsapge
            console.log(draftnotes2);
            var drafttitle2 =JSON.parse('{{drafttitle2 | tojson | safe}}');
            var draftsong4user2 = JSON.parse('{{draftsong4user2| tojson | safe}}');
            console.log(draftsong4user1);



            var draftnames3 = JSON.parse('{{draftnames3 | tojson | safe}}');
            var drafturls3= JSON.parse('{{drafturls3 | tojson | safe}}');
            var draftsongsperuser3=JSON.parse('{{songsperuser3 | tojson | safe}}');
            var draftnumofusers3=JSON.parse('{{numofusers3 | tojson | safe}}');
            var draftnotes3 =JSON.parse({{draftnotes3 | tojson | safe}});
            var drafttitle3 =JSON.parse('{{drafttitle3 | tojson | safe}}');
            var draftsong4user3 = JSON.parse('{{draftsong4user3 | tojson | safe}}');
             
            
          /*  if(draftnames != null || draftnames != "" ){
                document.getElementById("olddrafts").innerHTML="OLD DRAFT AVAILABLE";
            }*/

           const draftslots = {
            drafttitle1:drafttitle1[0],
            drafttitle2:drafttitle2[0],
            drafttitle3:drafttitle3[0],

           }

            //For Draft Slots           
           totaltitles=0;
            for(var x=1; x<=3; x++){
                var draft = document.createElement("div");
                draft.style.backgroundColor="black";
                draft.style.position="relative";
                draft.style.display="inline-block";
                draft.style.bottom="0";
                draft.style.padding="3% 0";
                draft.style.margin="0 1%";
                draft.style.textAlign="center";
                draft.style.cursor="pointer";
                //draft.style.boxShadow="0 0 12px 10px black";
                //draft.style.className= "slide1drafts";
                var draftnum = "drafttitle"+x;

                if(draftslots[draftnum]==undefined){
                    draft.innerHTML= "DRAFT SLOT AVAILABLE";
                    draft.style.backgroundColor="rgba(0,0,0,0)";
                    draft.style.border="white 2px dashed";
                    draft.style.cursor="not-allowed";
                   
                }
                else{
                    draft.style.border="white 1px solid";
                    draft.innerHTML=draftslots[draftnum];
                    totaltitles++;

                }


                draft.style.color="white";
                draft.id=x;
                draft.className="selectdrafts";
                draft.style.width="20%";

                //document.getElementsByTagName("body")[0].appendChild(draft); 
                document.getElementById("olddrafts").appendChild(draft);

                //document.getElementById("olddrafts").style.zIndex="-1";

                draft.addEventListener('click',function(event){
                    if(event.target.innerHTML=="DRAFT SLOT AVAILABLE"){
                        alert("EMPTY DRAFT SPOT");
                    }
                    else{
                    inputdraft(event.target.id);
                    }
                });

            } 


            console.log(totaltitles);
            
        </script>
    </body>
</html>