<!DOCTYPE>
<html>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<body>

    <button id="screenshot" onclick="screenshot()">Screenshot Results</button>
    <div style="text-align:center;">RESULTS</div>
    <div id="splashscreen">FORMING RESULTS</div>
    <div id="results">

    </div>
</body>

<!--We should have this page display tiers of the songs (and long term it can be ordered by the points garnered)-->
<!--We should save the results in the database via image BUT have a column dedicated to the winner and it's url (and maybe total points)-->
<!--How will we save drafts?-->
<!--Should add another section for in slide3 for notes/time start and stop-->
<script>
    const apiKey = 'AIzaSyBc9Y9VMDPAaILM7erb5kwBhJ_B8knnKQk';


    
     listoftiers = JSON.parse({{ listoftiers | tojson | safe }});
     namesintiers = JSON.parse({{namesintiers | tojson | safe}});
     bottomtier = JSON.parse({{bottomtier | tojson | safe}});
     lowtiernames = JSON.parse({{lowtiernames | tojson | safe}});
     
  
     var height4tiers = 100/listoftiers.length+1; //Plus one is for bottom tier

    //listoftiers[listoftiers.length]=bottomtier;
    listoftiers.unshift(bottomtier);
    namesintiers.unshift(lowtiernames);
    console.log(listoftiers);
    console.log(namesintiers);
     for(x=1; x<=listoftiers.length; x++){ // for(x=0; listoftiers.length-1>=x; x++){
        var createtier = document.createElement("div");
        createtier.style.margin="0 auto";
        createtier.id=`Tier_${x}`;
        //createtier.style.border = "black 1px solid";
        createtier.style.borderLeft="white 2px solid";
        createtier.style.borderRight="white 2px solid";
        createtier.style.borderBottom="white 2px solid";
        createtier.style.paddingLeft="1%";


        if(x==1){
            createtier.style.backgroundImage="linear-gradient(blue,#242323)";//createtier.style.backgroundImage="linear-gradient( grey,blue)";
            createtier.style.borderTop="white 2px solid";
            createtier.style.borderTopLeftRadius="20%";
            createtier.style.borderTopRightRadius="20%";
            createtier.style.borderTopLeft="white 2px solid";
            createtier.style.borderTopRight="white 2px solid";
            createtier.style.paddingTop="6%";


        }
        else if(x==listoftiers.length){
            createtier.style.backgroundImage="linear-gradient(#242323,red 99%)";
            createtier.style.borderBottomLeftRadius="8%";
            createtier.style.borderBottomRightRadius="8%";
            createtier.style.paddingBottom="2%";

        }
        else{
            //createtier.style.border = "black 1px solid";
        }

        //createtier.style.height = "70%";//createtier.style.height = height4tiers +"%";
        createtier.style.width = "75%";
        createtier.style.position="relative";
        createtier.style.block="block";
        createtier.style.backgroundColor ="#242323";
        document.getElementById("results").appendChild(createtier);

     }


//async function starters(){
     const splashScreen = document.getElementById('splashscreen');
    const mainContent = document.getElementById('results');
    splashScreen.style.display = 'block'; // Hide the splash screen
    mainContent.style.display = 'none'; // Show the main content
  /*   await videoDetails(listoftiers);
}*/

console.log(listoftiers);
 videoDetails(listoftiers);


window.addEventListener('load',()=>{
    const splashScreen = document.getElementById('splashscreen');
    const mainContent = document.getElementById('results');

    splashScreen.style.display = 'block'; // Hide the splash screen
    mainContent.style.display = 'none'; // Show the main content

    setTimeout(()=>{

        splashScreen.style.display = 'none'; // Hide the splash screen
        mainContent.style.display = 'block'; // Show the main content

    },1); //3 second wait //3000
});


     

     
      async function videoDetails(listoftiers) { //async
       // return new Promise((resolve) => {
        var urltitles =[];
               //console.log(vid_id[2]);
               console.log(listoftiers);
               var tiernumber=1;

        for(let x=listoftiers.length-1; x>=0; --x){ //Must declare x via let or variable
            if (listoftiers[x]) {
                 //console.log("Tier at index: "+ x);
            } 
            else {
                 console.log("No such tier at index: " + x);
                continue; // Skip this iteration
             }
        var tierlength = listoftiers[x].length;
        var y=0;
        if (listoftiers && listoftiers[x] && listoftiers[x][y]) {

            while(y<tierlength){

    
        var url =listoftiers[x][y];
        const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/; 
        var vid_id = url.match(regExp);

        const apiCall = `https://www.googleapis.com/youtube/v3/videos?id=${vid_id[2]}&part=snippet,contentDetails,statistics&key=${apiKey}`;
        
        //var urlindex =0;
        
        try{

            var response = await fetch(apiCall);
            if(!response.ok){
          throw new Error("Network status isn't okay " + response.statusText);
            }
            const video = await response.json();
            //console.log(video.items[0].snippet.title);

            var newtieritem = document.createElement("div");

            //urltitles[urlindex++] =video.items[0].snippet.title; //This won't work with API call; "Returns only once"
            if(tierlength==1){//Winning tier

                var tiertitle = document.createElement("div");
                tiertitle.innerHTML ="AND THE WINNER IS...";
                document.getElementById(`Tier_${tiernumber}`).appendChild(tiertitle);
                console.log(namesintiers[namesintiers.length-1]);
                newtieritem.innerHTML = video.items[0].snippet.title + " ["+ namesintiers[namesintiers.length-1][0] +"]";
                newtieritem.style.textDecoration="underline";
                newtieritem.style.textDecorationColor = "red";
                newtieritem.id=video.items[0].snippet.title + x;
                console.log(newtieritem.id);
                newtieritem.className="SongsDiv"; 
                newtieritem.style.color ="gold";

                document.getElementById(`Tier_${tiernumber}`).appendChild(newtieritem);


                var thumbnail = document.createElement("img");
                thumbnail.src= video.items[0].snippet.thumbnails.high.url;
                console.log(video.items[0].snippet.thumbnails.high.url);

                thumbnail.style.aspectRatio="1";
                thumbnail.style.height = "40%";
                thumbnail.style.display="block";
                thumbnail.style.margin="0 auto";
                document.getElementById(newtieritem.id).appendChild(thumbnail);//document.getElementById(`Tier_${tiernumber}`).appendChild(thumbnail);


            }
            else if(y==0){ //Start of a new tier (Not Winning tier)

                var tiertitle = document.createElement("div");
                
                if(x==0){
                    tiertitle.innerHTML = "COMPLETE LOSERS";
                    tiertitle.style.width="30%";
                }
                else{
                    tiertitle.innerHTML = "Tier "+ tiernumber;
                    tiertitle.style.width="10%";

                }
                tiertitle.style.color="black";
                //tiertitle.style.textShadow ="2px 2px 5px gold";
                tiertitle.style.backgroundColor="white";
                tiertitle.style.textAlign="center";
                document.getElementById(`Tier_${tiernumber}`).appendChild(tiertitle);

                newtieritem.innerHTML = video.items[0].snippet.title + " ["+ namesintiers[x][y] +"]";

                newtieritem.style.textDecoration="underline";
                console.log(x,"vs",listoftiers.length-1);

                if(x==0){
                    newtieritem.style.textDecorationColor = "blue";
                    console.log("eiefhejkc");

                }                
                else{
                    console.log("Sho up");
                    newtieritem.style.textDecorationColor = "red";

                }
                newtieritem.id=video.items[0].snippet.title + x;
                newtieritem.style.position="relative";
                newtieritem.style.textAlign="center";
                newtieritem.className="SongsDiv";
                document.getElementById(`Tier_${tiernumber}`).appendChild(newtieritem);

                var thumbnail = document.createElement("img");
                thumbnail.src= video.items[0].snippet.thumbnails.high.url;
                thumbnail.style.aspectRatio="1";
                thumbnail.style.height = "30%";
                thumbnail.style.display="block";
                document.getElementById(newtieritem.id).appendChild(thumbnail);//document.getElementById(`Tier_${tiernumber}`).appendChild(thumbnail);
            }
            else{ //Inside existing tier

                newtieritem.innerHTML = video.items[0].snippet.title + " ["+ namesintiers[x][y] +"]";

                newtieritem.style.textDecoration="underline";
                console.log(x,"vs",listoftiers.length-1);
                if(x==0){
                    newtieritem.style.textDecorationColor = "blue";
                    console.log("eiefhejkc 2");

                }  
                else{
                    newtieritem.style.textDecorationColor = "red";

                }
                newtieritem.id=video.items[0].snippet.title + x;
                newtieritem.style.display="block";
                newtieritem.style.position="relative";
                newtieritem.style.textAlign="center";

                newtieritem.className="SongsDiv";
                document.getElementById(`Tier_${tiernumber}`).appendChild(newtieritem);

                var thumbnail = document.createElement("img");
                thumbnail.src= video.items[0].snippet.thumbnails.high.url;
                thumbnail.style.aspectRatio="1";
                thumbnail.style.height = "30%";
                
                thumbnail.style.display="block";
                thumbnail.style.position="relative";

                document.getElementById(newtieritem.id).appendChild(thumbnail);//document.getElementById(`Tier_${tiernumber}`).appendChild(thumbnail);

            }           
   // return video.items[0].snippet.title;

    }   
        catch(error){
         console.error("Fetch error:",error);
    }   
        y++;
    }
}

else {
console.error("Variable is not defined or is not an array:", variable);
}
tiernumber++;
}

for(x=0; x<document.getElementsByClassName("SongsDiv").length-listoftiers[0].length;x++){
    //The "-listoftiers[0].length" takes away the losers tier who haven't beaten any songs

urltitles[x]= document.getElementsByClassName("SongsDiv")[x].id; //The id are the song names themselves
urltitles[x]=urltitles[x].slice(0,-1); //Removed the id number indicator that I added previously
}
console.log(urltitles);


//Removing repeats
var songdivs = document.getElementsByClassName("SongsDiv");
var songdivindex=0
const songdivlength =songdivs.length;

console.log(songdivlength);
for(var x=0; x<songdivs.length;x++){ //for(var x=0; x<songdivs.length;x++){//for(var x=listoftiers.length-1; x>=0;x--){//Covers total amount of songs
//Make songdivs.length the total amount of songs (thats why we have 8)

var everydiv = document.getElementsByClassName("SongsDiv");
var iter=0;
var firstapperance=0;

while(iter<songdivlength){
    //console.log(everydiv[iter],iter);
if(everydiv[iter].innerText.includes(songdivs[x].innerText)){
    if(firstapperance<1){
        
        firstapperance++;
    }
    else{
       //console.log("FOUND",everydiv[iter].innerText);
       //console.log("REMOVE");
         everydiv[iter].innerHTML = everydiv[iter].innerHTML.replace(songdivs[x].innerHTML,"");

    }
}
       iter++;
    
    
    }
}


/*for(x=0; x<everydiv.length;x++){
urltitles[x]= everydiv[x].id;
}
console.log(urltitles);

*/



//Add what songs got defeated by what


var everydiv = document.getElementsByClassName("SongsDiv");

for(var x= everydiv.length-1; x>=0; x--){ 
    // Iterate in reverse to avoid issues with shifting indices
   var mightdelete = everydiv[x].querySelectorAll("img");

   if(mightdelete.length==0){
    everydiv[x].remove();
   }
   else{
   }
}




var getindex=listoftiers.length-1;
var titlecounter=0;
var getsong = listoftiers[getindex].length-1;
var iterhelp=1;
var tmp=0

for(var x=1; x<everydiv.length; x++){  //skip x=0 because the winner didn't lose to anybody

    var defeatedby = document.createElement("div");
    defeatedby.style.marginBottom="5%";
    defeatedby.style.textAlign="left";
    defeatedby.innerHTML = "Defeated By "+ "\"" +urltitles[titlecounter++] + "\""; 
    defeatedby.className="thedefeated";
    defeatedby.style.textDecoration="none";
//Have to go backwards because urltitles tier results are in reverse? (FALSE but is it changing?)


    document.getElementById(everydiv[x].id).insertAdjacentElement('afterend',defeatedby); //document.getElementById(everydiv[x].id).appendChild(defeatedby);
    //Have to put it AFTER parent element so we dont inherit text decoration

    if(getsong==listoftiers[getindex].length){ //if(getsong==0){ 

       /* titlecounter=tmp + listoftiers[--getindex].length; //Go to the next tier
        tmp=titlecounter;*/
        getindex--;
        getsong=0;//getsong = listoftiers[getindex].length-1;
        console.log(titlecounter);
}
else{
    getsong++;

}

//var removeunderline = everydiv[x].

}

/*
var removeunderline = document.querySelectorAll(".thedefeated");
removeunderline.forEach(element => {
    //element.style.color="red";
    element.classList.add('thedefeated2');
});*/


}

//Screenshot section


function screenshot(){
    //document.getElementById("screenshot").
    html2canvas(document.body).then(canvas=>{
        var link = document.createElement("a");
        link.download = "fullresults.png";
        link.href = canvas.toDataURL();
        link.click();
    }).catch(error=>{
        console.error("ERROR ON SCREENSHOT",error);
    });

}

</script>
</html>