<!DOCTYPE>
<html>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<body>

    <button id="screenshot" onclick="screenshot()">Screenshot Results</button>
    <div style="text-align:center;">RESULTS</div>
    <div id="splashscreen">
        FORMING RESULTS
        
    </div>
    <div id="results">

    </div>
</body>

<!--We should have this page display tiers of the songs (and long term it can be ordered by the points garnered)-->
<!--We should save the results in the database via image BUT have a column dedicated to the winner and it's url (and maybe total points)-->
<!--How will we save drafts?-->
<!--Should add another section for in slide3 for notes/time start and stop-->
<script>
    const apiKey = 'AIzaSyBc9Y9VMDPAaILM7erb5kwBhJ_B8knnKQk';

    
    
     listoftiers = JSON.parse({{ listoftiers | tojson | safe }});
     namesintiers = JSON.parse({{namesintiers | tojson | safe}});
     bottomtier = JSON.parse({{bottomtier | tojson | safe}});
     lowtiernames = JSON.parse({{lowtiernames | tojson | safe}});
     allnotes = JSON.parse({{allnotes | tojson  | safe}});
     losernotes = JSON.parse({{losernotes | tojson | safe}});
       


</script>
<script src="{{url_for('static',filename='js/script3.js')}}"></script>
</html>