<!DOCTYPE>
<html>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>

<body>
    <div style="text-align:center;">RESULTS</div>
    <div id="results">

    </div>
</body>

<!--We should have this page display tiers of the songs (and long term it can be ordered by the points garnered)-->
<!--We should save the results in the database via image BUT have a column dedicated to the winner and it's url (and maybe total points)-->
<!--How will we save drafts?-->
<!--Should add another section for in slide3 for notes/time start and stop-->
<script>
    const apiKey = 'AIzaSyBc9Y9VMDPAaILM7erb5kwBhJ_B8knnKQk';

    
     listoftiers = JSON.parse({{ listoftiers | tojson | safe }});
     namesintiers = JSON.parse({{namesintiers | tojson | safe}});
     console.log(listoftiers);
     console.log(namesintiers);
     var height4tiers = 100/listoftiers.length;

     for(x=1; x<=listoftiers.length; x++){ // for(x=0; listoftiers.length-1>=x; x++){
        var createtier = document.createElement("div");
        createtier.style.border = "black 1px solid";
        createtier.id=`Tier_${x}`;
        if(x==1){
            createtier.style.backgroundColor="maroon";
        }
        createtier.style.height = height4tiers +"%";
        createtier.style.width = "66%";
        document.getElementById("results").appendChild(createtier);

     }

     videoDetails(listoftiers);

     

     
     async function videoDetails(listoftiers) {
               //console.log(vid_id[2]);
               console.log(listoftiers);
               var tiernumber=1;

        for(let x=listoftiers.length-1; x>=0; --x){ //Must declare x via let or variable
            if (listoftiers[x]) {
                 //console.log("Tier at index: "+ x);
            } 
            else {
                 console.log("No such tier at index: " + x);
                continue; // Skip this iteration
             }
        var tierlength = listoftiers[x].length;
        var y=0;
        if (listoftiers && listoftiers[x] && listoftiers[x][y]) {

            while(y<tierlength){

    
        var url =listoftiers[x][y];
        const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/; 
        var vid_id = url.match(regExp);

        const apiCall = `https://www.googleapis.com/youtube/v3/videos?id=${vid_id[2]}&part=snippet,contentDetails,statistics&key=${apiKey}`;

        try{

            var response = await fetch(apiCall);
            if(!response.ok){
          throw new Error("Network status isn't okay " + response.statusText);
            }
            const video = await response.json();
            //console.log(video.items[0].snippet.title);

            var newtieritem = document.createElement("div");

            
            if(tierlength==1){//Winning tier
                var tiertitle = document.createElement("div");
                tiertitle.innerHTML ="AND THE WINNER IS...";
                document.getElementById(`Tier_${tiernumber}`).appendChild(tiertitle);
                console.log(namesintiers[0]);
                newtieritem.innerHTML = video.items[0].snippet.title + " ["+ namesintiers[0][0] +"]";
                //newtieritem.id=video.items[0].snippet.title;
                newtieritem.className="SongsDiv"; 
                newtieritem.style.color ="gold";
                document.getElementById(`Tier_${tiernumber}`).appendChild(newtieritem);

            }
            else if(y==0){ //Start of a new tier (Not Winning tier)
                var tiertitle = document.createElement("div");
                tiertitle.innerHTML = "Tier "+ tiernumber;
                document.getElementById(`Tier_${tiernumber}`).appendChild(tiertitle);

                newtieritem.innerHTML = video.items[0].snippet.title + " ["+ namesintiers[x][y] +"]";
                //newtieritem.id=video.items[0].snippet.title;
                newtieritem.className="SongsDiv";

                document.getElementById(`Tier_${tiernumber}`).appendChild(newtieritem);

            }
            else{ //Inside existing tier
                newtieritem.innerHTML = video.items[0].snippet.title + " ["+ namesintiers[x][y] +"]";
                //newtieritem.id=video.items[0].snippet.title;
                newtieritem.className="SongsDiv";
                document.getElementById(`Tier_${tiernumber}`).appendChild(newtieritem);
            }
            
            
   // return video.items[0].snippet.title;

    }
        catch(error){
         console.error("Fetch error:",error);
    }
        y++;
    }
}

else {
console.error("Variable is not defined or is not an array:", variable);
}
tiernumber++;
}


//Removing repeats
var tiernumber2=1;
//work4tier=
var songdivs = document.getElementsByClassName("SongsDiv");
var songdivindex=0
const songdivlength =songdivs.length;
for(var x=0; x<songdivs.length;x++){//for(var x=listoftiers.length-1; x>=0;x--){//Covers total amount of songs
    //console.log(`Looking for ID: Tier_${tiernumber2}`);
    var test = document.getElementById(`Tier_${(tiernumber2)}`);
    tiernumber2++;

    //var everydiv = document.querySelectorAll("div");
    var everydiv = document.getElementsByClassName("SongsDiv");
var iter=0;
var firstapperance=0;
console.log(songdivs);
console.log("Check for",songdivs[x].innerText);
while(iter<songdivlength){
   // console.log(everydiv[iter].innerText,"VERSUS",songdivs[x].innerText);
   console.log("(x)",x, "gets song",songdivs[x].innerText);
if(everydiv[iter].innerText.includes(songdivs[x].innerText)){
    if(firstapperance<1){
        console.log("Pardon");
        console.log(everydiv[iter].innerHTML);
        firstapperance++;
    }
    else{
       console.log("FOUND",everydiv[iter].innerText);
       console.log("REMOVE");
       console.log(songdivs[x].innerText);
        everydiv[iter].innerText = everydiv[iter].innerText.replace(songdivs[x].innerText,"");
    }
}
       iter++;
    
    
    }
}

//console.log(entiredoc.length);








}

</script>
</html>