<!DOCTYPE>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <body>


        <div  class="thevideos" style ="width:45%;height:25%;background-color:yellow;">
            <iframe id="leftvid" width="100%" height="315" src="https://www.youtube.com/embed/zm6gHJ3SQIM"> </iframe>
            <div id="leftbutt" class="winnerbutton" onclick="thewinneris('left')">Left Video is the Winner</div>
        </div>
        <div class="thevideos" style ="width:45%;height:25%;background-color:yellow;">
            <iframe id="rightvid" width="100%" height="315" src="https://www.youtube.com/embed/EpV_WbjyY00" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div id="rightbutt" class="winnerbutton" onclick="thewinneris('right')">Right Video is the Winner</div>
        </div>
        
     
       <ul id="eachname"> 
        {% for x in range(totalusers)%}      
        <li>  {{allnames[x]}} </li>
        
    {% endfor %}

</ul>
<script type="text/javascript">
    var totalusers = JSON.parse('{{ totalusers | tojson | safe }}');
    songsperuser=JSON.parse('{{ songspereach | tojson | safe }}');;
    allnames=JSON.parse('{{ allnames | tojson | safe }}');
    utubeurls=JSON.parse('{{ utubeurls | tojson | safe }}');

</script>

<script src="{{ url_for('static', filename='js/script2.js') }}"></script>  

    </body>
</html>
