<!DOCTYPE>
<html>

<style>
    .thevideos{
        display: inline-block;
    }
  /*  #leftvid{

    }
    #rightvid{
        
    } */
</style>
    <body>


        <div id="leftvid" class="thevideos" style ="width:33%;background-color:pink;">
            <iframe  width="100%" height="345" src="https://www.youtube.com/embed/zm6gHJ3SQIM"> </iframe>
        </div>
        <div id="rightvid" class="thevideos" style ="width:33%;background-color:pink;">
            <iframe width="100%" height="345" src="https://www.youtube.com/embed/zm6gHJ3SQIM"> </iframe>
        </div>
        
        
        

       <ul id="eachname"> 
        {% for x in range(totalusers)%}      
        <li>  {{allnames[x]}} </li>
        
    {% endfor %}

</ul>




        <script type="text/javascript">
            
            var testusernum = 3;
            var num =0;
            //var everyuserssong = new Map();
            //console.log('{{utubeurls | tojson}}');
            var totalusers = Number('{{totalusers}}');
            var songsperuser = Number('{{songspereach}}');

            var utubeurls = JSON.parse('{{ utubeurls | tojson | safe }}');
            var usernames = JSON.parse('{{allnames | tojson | safe}}');


            const ul_ = document.querySelector('#eachname');
            const all_li = ul_.querySelectorAll('li');
            const testnames = Array.from(all_li);
            console.log(testnames[num].innerHTML);
            

            console.log('Total number of users: ' +totalusers);
            console.log('Total number of songs: ' + songsperuser);

            var user1songs = [];//,"User 1 Song 1","User 1 Song "];
            var user2songs = [];//,"User 2 Song 3", "User 2 Song 4"];
            var user3songs = [];//,"User 3 Song 3", "User 3 Song 4"];
            var user4songs = [];
            var user5songs = [];
            var user6songs = [];

            var allusers = [user1songs,user2songs,user3songs,user4songs,user5songs,user6songs];


            //Setting the amount of users that are playing the game (Maximum of 6)
            var setlength = allusers.length;
            for(x=totalusers;x<setlength;x++){
                allusers.pop();
            }


            //Placing all the users songs into the arrays
            var songiter = 0;
            for(x=0;x<allusers.length;x++){ //Each array
                var usersongnum=0; 
                while(usersongnum<songsperuser){
                    //console.log(utubeurls[songiter]);
                    allusers[x][usersongnum]= utubeurls[songiter++];
                    usersongnum++;
                }
            }

           

        /*    var y=0;
            for(iterate=0; iterate<testusernum; iterate++){
                
               // while(y<2){
                    everyuserssong.set(testnames[iterate],allusers[iterate]);
                   // y++;
              //  }
                y=0;               
            }
                */

            //var userKeys = Array.from(everyuserssong.keys());

            //console.log(everyuserssong);

            var eliminated;
            var winners=[];
            var counter=0;
            var numofsongsleft=totalusers*songsperuser;
            var totalrounds = 3;



            //Start of Round of 64

            var allusers2 = allusers;
            console.log(allusers2);
           
            for(x=8; x>=1;x=x/2){ //6 rounds in Round of 64  // for(x=0;x<6;x+

                console.log("Round of " + x);
                
                
                for(y=0; y<numofsongsleft;y+=2){
                   

                    allusers2 = allusers2.filter(arr => arr.length > 0);
                    console.log(allusers2);
                if (allusers2.length < 2) {
                    console.log("Not enough people left to continue the tournament.");
                    break;
                }

            var randomarr = Math.floor(Math.random()*allusers2.length);
            var randomarr2 = Math.floor(Math.random()*allusers2.length);

            while(randomarr2 == randomarr ){ //Makes sure the same user isn't going against themselves //&& randomarr!=-1 && randomarr2 !=-1
                randomarr = Math.floor(Math.random()*allusers2.length);
                randomarr2 = Math.floor(Math.random()*allusers2.length);
                }

                
                console.log(allusers2[randomarr][0] + " vs " + allusers2[randomarr2][0]);
                var eliminated = allusers2[randomarr2].shift(); // Remove the first element
               winners.push(allusers2[randomarr][0]);
                console.log("Eliminated: " + eliminated + ", Winner: " +  allusers2[randomarr][0]);
            }
                numofsongsleft=numofsongsleft/2;

        }
       
        console.log("Tournament Over");
        console.log(winners);











/*for(var theround=1; theround<5; theround++){
    if(winners==0){
        console.log();
    }
    else{

    }
    for (var x = 0; x < maxamountofsongs * maxamountofsongs; x++) {
                // Filter out arrays that are empty
                 allusers = allusers.filter(arr => arr.length > 0);
                if (allusers.length < 2) {
                    console.log("Not enough songs left to continue the tournament.");
                    break;
                }
                var randomuser = Math.floor(Math.random() * allusers.length);
                var randomuser2;
                do {
                    randomuser2 = Math.floor(Math.random() * allusers.length);
                } while (randomuser2 === randomuser);

                console.log(allusers[randomuser][0] + " vs " + allusers[randomuser2][0]);

                // The second one loses here
                var eliminated = allusers[randomuser2].shift(); // Remove the first element
               winners.push(allusers[randomuser][0]);
                console.log("Eliminated: " + eliminated);
                counter++;         
        }
}
        console.log("Tournament Over");
        console.log(winners);
*/
        </script>
    </body>
</html>
